/* .menu-btn {
  display: inline-block;
  cursor: pointer;
}

.menu {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  background-color: gray;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  animation: dropdown 0.5s;

}

@keyframes dropdown {
  0% {
    transform: translateY(-10%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.menu-btn:hover + .menu,
.menu:hover {
  display: block;
} */

.navBar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 10vh;
    border: 2px solid black;
}

.n-left{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
}

.n-logo > span{
    font-size: 1.5rem;
    font-weight: bold;
}

.n-middle{
    flex: 3;
    display: flex;
    align-items: center;
    border: 2px solid black;
}

.n-list{
    width: 100%;
    padding: 0 5vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.n-right{
    flex: 1;
    display: flex;
    border: 2px solid black;
}